.login {
  justify-self: end;
  align-self: center;
  display: flex;
  align-items: center;
  gap: 3.5rem;

  &__sign-in {
    &:link,
    &:visited {
      padding: 0 0 3px 0;
      font-size: 2rem;
      @extend %Lato-400;
      line-height: 125%;
      color: #000;

      transition: all 0.3s ease;
    }

    &:hover,
    &:active {
      color: $green;
    }
  }
}
