@font-face {
  font-family: 'Lato-Regular';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Lato-Regular'), url('../fonts/Lato-Regular.woff2') format('woff2'),
    url('../fonts/Lato-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Lato-Medium';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Lato-Medium'), url('../fonts/Lato-Medium.woff2') format('woff2'),
    url('../fonts/Lato-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Lato-Semibold';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local('Lato-Semibold'),
    url('../fonts/Lato-Semibold.woff2') format('woff2'),
    url('../fonts/Lato-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'Georgia';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Georgia'), url('../fonts/Georgia.woff2') format('woff2'),
    url('../fonts/Georgia.woff') format('woff');
}

@font-face {
  font-family: 'Georgia-Bold';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Georgia-Bold'), url('../fonts/Georgia-Bold.woff2') format('woff2'),
    url('../fonts/Georgia-Bold.woff') format('woff');
}
