// LAYOUT
._main-layout {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

._main {
  flex: 1 1 auto;
}

._no-scroll {
  overflow-y: hidden;
}

.header._sticky {
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.95);
}

// CONTAINERS
._container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

._container-big {
  max-width: 154rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

// BUTTONS
.btn {
  &:link,
  &:visited {
    display: inline-flex;
    align-items: center;
    min-height: 6.5rem;
    padding: 1rem 5rem;

    border-radius: 0.4rem;
    background-color: $green;
    font-size: 2rem;
    @extend %Lato-400;
    line-height: 125%;
    color: #fff;
    transition: all 0.3s ease;
  }

  &:hover,
  &:active {
    background-color: $accent;
  }
}

.btn--small {
  &:link,
  &:visited {
    min-height: 5rem;
  }
}

// TITLE & SUBTITLE
.title {
  font-size: 2.4rem;
  @extend %Lato-600;
  line-height: 157%;
  color: $default;

  @media (max-width: 1199.8px) {
    font-size: 2rem;
  }
  @media (max-width: 581.8px) {
    font-size: 1.8rem;
  }
}

.subtitle {
  font-size: 5rem;
  @extend %Georgia-700;
  line-height: 157%;
  color: $green;

  @media (max-width: 1199.8px) {
    font-size: 3rem;
  }
  @media (max-width: 581.8px) {
    font-size: 2rem;
  }
}

// TEXT
.text {
  font-size: 2rem;
  @extend %Lato-500;
  line-height: 150%;
  color: $default;
  @media (max-width: 581.8px) {
    font-size: 1.6rem;
  }
}
