$default: #424242;
$title: #000000;
$link: #292929;
$green: #01996d;
$light-green: rgba(1, 153, 109, 0.2);
$dark-green: #245852;
$accent: #14daa2;

%Lato-400 {
  font-family: 'Lato-Regular', sans-serif;
  font-weight: 400;
}

%Lato-500 {
  font-family: 'Lato-Medium', sans-serif;
  font-weight: 500;
}

%Lato-600 {
  font-family: 'Lato-Semibold', sans-serif;
  font-weight: 600;
}

%Georgia-400 {
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
}

%Georgia-700 {
  font-family: 'Georgia-Bold', sans-serif;
  font-weight: 700;
}
