<nav class="nav">
  @@include('./logo-top.html')

  <div class="nav__inner">
    <ul class="nav__list">
      <li class="nav__item">
        <a class="nav__link" href="#section-hero">Why Alivio</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#section-steps">Solutions</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#section-story">Community</a>
      </li>
      <li class="nav__item"><a class="nav__link" href="#section-product">Pricing</a></li>
    </ul>

    @@include('./login.html')
  </div>
</nav>
