<nav class="nav">
  @@include('./logo-top.html')

  <!-- ADD nav__inner--mobile -->
  <div class="nav__inner">
    <ul class="nav__list">
      <li class="nav__item">
        <a class="nav__link" href="#">Why Alivio</a>
      </li>
      <li class="nav__item"><a class="nav__link" href="#">Solutions</a></li>
      <li class="nav__item"><a class="nav__link" href="#">Community</a></li>
      <li class="nav__item"><a class="nav__link" href="#">Pricing</a></li>
    </ul>

    @@include('./login.html')
  </div>
</nav>
