<section class="product">
  <div class="_container">
    <div class="product__inner">
      <div class="product__costumer costumer">
        <div class="costumer__img-wrapper">
          <picture>
            <source
              type="image/avif"
              srcset="
                ./images/product/costumer.avif    1x,
                ./images/product/costumer@2x.avif 2x
              " />
            <source
              type="image/webp"
              srcset="
                ./images/product/costumer.webp    1x,
                ./images/product/costumer@2x.webp 2x
              " />
            <img
              class="costumer__img"
              src="./images/product/costumer.jpg"
              srcset="images/product.costumer@2x.jpg"
              alt="costumer" />
          </picture>
        </div>

        <div class="costumer__card costumer-card">
          <div class="card__header">Customized For</div>

          <div class="costumer-card__avatar">
            <div class="costumer-card__avatar-inner">
              <img
                class="costumer-card__avatar-img"
                src="./images/product/avatar.jpg"
                alt="avatar" />
            </div>

            <span class="costumer-card__avatar-name">Mikayla</span>
          </div>

          <div class="costumer-card__content">
            <div class="costumer-card__content-title">Your custom contents</div>

            <ul class="costumer-card__content-list">
              <li class="costumer-card__content-item">
                Understand Your Stress
              </li>
              <li class="costumer-card__content-item">Anger Management</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="product__content">
        <h2 class="product__content-title title">Our product</h2>
        <h3 class="product__content-subtitle subtitle">
          You tell us your stress, We make your diary
        </h3>
        <p class="product__content-text text">
          Everyone experiences it, and in different ways. Let Alivio guide you,
          in a personalized journal experience, to overcome your stress.
        </p>
        <a class="product__content-btn btn" href="#">Find Your Way</a>
      </div>
    </div>
  </div>
</section>
