<section class="steps" id="section-steps">
  <div class="_container">
    <div class="steps__top">
      <div class="steps__title-box">
        <h2 class="steps__title title">How it works</h2>

        <h3 class="steps__subtitle subtitle">
          Understand & Release the stress in 3 steps
        </h3>
      </div>

      <div class="steps__text-box">
        <p class="steps__text text">
          Alivio offers as many journals it takes, tackling different areas such
          as anxiety, overwhelmedness, sadness, or anger, and a variety of
          personal causes, to help you become aware of your emotions, and guide
          you in how to manage stress.
        </p>
      </div>
    </div>

    <div class="steps__cards">
      <!-- 01 -->
      <div class="steps__card card">
        <h4 class="card__title" data-number="01">Personalize</h4>

        <p class="card__text text">
          Answer a quick survey about how you express yourself, what causes you
          stress, and what area would you like to work on. This way, we can
          fully personalize your journal!
        </p>

        <div class="card__img-wrapper">
          <picture>
            <source
              type="image/avif"
              srcset="
                ./images/steps/personalize.avif    1x,
                ./images/steps/personalize@2x.avif 2x
              " />
            <source
              type="image/webp"
              srcset="
                ./images/steps/personalize.webp     1x,
                './images/steps/personalize@2x.webp 2x
              " />

            <img
              class="card__img"
              src="./images/steps/personalize.jpg"
              srcset="./images/steps/personalize@2x.jpg"
              alt="personalize" />
          </picture>
        </div>
      </div>
      <!-- 02 -->
      <div class="steps__card card">
        <h4 class="card__title card__title--02" data-number="02">
          Write & Understand
        </h4>

        <p class="card__text text">
          Write, draw, reflect, understand. Alivio will guide you through the
          prompts and will help you manage your stress!
        </p>

        <div class="card__img-wrapper">
          <picture>
            <source
              type="image/avif"
              srcset="
                ./images/steps/write.avif    1x,
                ./images/steps/write@2x.avif 2x
              " />
            <source
              type="image/webp"
              srcset="
                ./images/steps/write.webp     1x,
                './images/steps/write@2x.webp 2x
              " />

            <img
              class="card__img"
              src="./images/steps/write.jpg"
              srcset="./images/steps/write@2x.jpg"
              alt="write" />
          </picture>
        </div>
      </div>
      <!-- 03 -->
      <div class="steps__card card">
        <h4 class="card__title card__title--03" data-number="03">Alivio!</h4>

        <p class="card__text text">
          Now you are aware, and have a way to manage and overcome your own
          stress. What are you waiting for? Alivio today!
        </p>

        <div class="card__img-wrapper">
          <picture>
            <source
              type="image/avif"
              srcset="
                ./images/steps/alivio.avif    1x,
                ./images/steps/alivio@2x.avif 2x
              " />
            <source
              type="image/webp"
              srcset="
                ./images/steps/alivio.webp     1x,
                './images/steps/alivio@2x.webp 2x
              " />

            <img
              class="card__img"
              src="./images/steps/alivio.jpg"
              srcset="./images/steps/alivio@2x.jpg"
              alt="alivio" />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
