<section class="story" id="section-story">
  <div class="_container-big">
    <div class="story__inner">
      <div class="story__content">
        <h3 class="story__content-title subtitle">
          Let's hear about Kayla's success story
        </h3>

        <p class="story__content-text">
          See how well Alivio works in a real customer’s life.
        </p>

        <a class="story__content-btn btn" href="#">Let’s get started</a>
      </div>

      <div class="story__video video">
        <div class="video__wrapper">
          <div class="video__bg"></div>

          <video class="video__element">
            <source
              src="./images/story/woman-with-laptop-1080p.mp4"
              type="video/mp4" />
          </video>

          <button class="video__btn">
            <svg class="video__btn-icon">
              <use
                href="./images/svgsprite/sprite.symbol.svg#story--play-btn" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
